.bg_hero{
    background-image: url(https://cdn.inspigo.id/public/mlc/V22/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}