.bg_hero{
    background-image: url(https://cdn.inspigo.id/public/mlc/V22/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg_photobooth{
    background-image: url(https://ik.imagekit.io/saepulmalik/a_mlc2022/Photobooth_flG-XVCpP.png?ik-sdk-version=javascript-1.4.3&updatedAt=1652936338544);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    // background-attachment: fixed;
}