

$black: #283862;
$gray: #a0a0a0;
$-soft-gray: #9b9b9b;
$violet: #746ce3;
$disabled: #c4c4c4;
$grey-2 : #c4cad3;
$thumbnail : #1A212E;

$onload-cover: #20232f;

$bgc-primary :#230454;
$bgc-secondary : #FBB500;
$primary : #230454;
$secondary : #FBB500;
$footer : #5C389A;
$neutral : #EBF4FF;
$agenda : #5C389A;
$text-primary : #182958;